<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCY_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <LCY_Database.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="UID" serializeAs="String">
                <value>lcy_user</value>
            </setting>
            <setting name="PSW" serializeAs="String">
                <value>lcy_user</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>lcy_db</value>
            </setting>
        </LCY_Database.Properties.Settings>
        <Database.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>192.168.66.19</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="UID" serializeAs="String">
                <value>lcy_user</value>
            </setting>
            <setting name="PSW" serializeAs="String">
                <value>lcy_user</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>lcy_db</value>
            </setting>
        </Database.Properties.Settings>
    </userSettings>
</configuration>